{{!< default}}
<aside class="container">
  <section class="one-third column">
    {{>widget-latestpost}}
  </section>
  <section class="one-third column">
    {{>widget-latestpost}}
  </section>
  <section class="one-third column">
    {{>widget-latestpost}}
  </section>
</aside>
